<section id="error" class="bg-gray">
    <div class="container-sm pb-5 pt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="pt-4" style="text-align: center;">Oops... Something got caught up</h2>
                <div class="row">
                    <div class="mb-3 col-md">
                        <p style="text-align: center;"><img src="/images/access-denied.png" alt="Access denied" width="300"></p>
                        <p style="font-size: 1.3em; text-align: center;"><%= message %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

