<!-- Hero image -->
<section id="hero">
    <div class="container-fluid p-0">
      <div class="col p-0">
        <img class="img-fluid hero-img" src="/images/banner.jpg" />
          <div class="hero-text">
              <h1>Savor Every Moment with LittleFoodie</h1>
              <p>Our mission is to make every meal a delightful experience for your family, 
                  delivering a diverse range of wholesome options right to your doorstep.</p>
                  <a href="#how-it-works"><button type="button" class="btn btn-success">How it works</button></a>
          </div>
      </div>
    </div>
</section>

<!-- How it works-->
<section id="how-it-works" class="bg-green">
  <div class="container">
    <div class="row pt-5 pb-5">
        <div class="col-12 col-sm-6 col-lg-3 p-3">
            <div class="card bg-transparent border-0">
              <img src="/images/time-icon.png" alt="Timer" width="230" class="mx-auto p-3" />
                <div class="card-body text-white text-center">
                  <h5 class="card-title">Time-Saving Convenience</h5>
                  <p class="card-text">Streamline your hectic schedule by eliminating the need for grocery shopping. 
                    LittleFoodie takes care of sourcing high-quality ingredients, so you can 
                    reclaim those precious hours spent wandering the aisles.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 p-3">
          <div class="card bg-transparent border-0">
            <img src="/images/healthy-food-icon.png" alt="Healthy food" width="230" class="mx-auto p-3" />
              <div class="card-body text-white text-center">
                <h5 class="card-title">Nutrient-Rich Variety, Delivered to Your Doorstep</h5>
                <p class="card-text">Experience the ease of providing your family with nutritious, diverse meals. 
                  Our meal kits, packed with wholesome goodness, are delivered straight to your 
                  doorstep, ensuring a healthy and delightful dining experience for all.</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 p-3">
        <div class="card bg-transparent border-0">
          <img src="/images/lunch-box-icon.png" alt="Lunch box" width="230" class="mx-auto p-3" />
            <div class="card-body text-white text-center">
              <h5 class="card-title">Instant School Lunch Solutions</h5>
              <p class="card-text">Wave goodbye to lunchtime stress! LittleFoodie offers instant solutions for 
                preparing your kid's school lunch, so you can send them off with a smile and 
                the nutrition they need for their daily adventures.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 p-3">
      <div class="card bg-transparent border-0">
        <img src="/images/family-icon.png" alt="Family" width="230" class="mx-auto p-3" />
          <div class="card-body text-white text-center">
            <h5 class="card-title">Quality Family Time, Minus the Cooking Stress</h5>
            <p class="card-text">Savor every moment with your loved ones as LittleFoodie saves you the hassle 
              of meal preparation. Enjoy quality family time without sacrificing the 
              pleasure of a delicious and home-cooked dinner.</p>
          </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Featured meal kits -->
<section id="featured-meal-kits" class="bg-gray">
    <div class="container">
      <div class="row pt-5 pb-5">
        <h2 class="text-center py-4">Featured Meal Kits</h2>
        <% featured.forEach(function(mealkit) { %>
          <div class="col-12 col-sm-6 col-md-4 p-3">
            <%- include("../partials/mealkit.ejs", { mealkit: mealkit, displayBadge: true }) %>
          </div>
        <% }); %>
        </div>
    </div>
</section>
