<!-- Welcome banner and message -->
<section id="hero">
    <div class="container-fluid p-0">
      <div class="col p-0">
        <img class="img-fluid" src="/images/welcome.jpg" />
          <div class="hero-text no-shadow">
              <h1>Welcome to LittleFoodie</h1>
              <p>Explore a great variety of healthy meal kits. <br />
                Deliver to your doorstep on the next day.<br /><br />
                <a href="/log-in"><button type="button" class="btn btn-success">Sign in your account</button></a></p>
          </div>
      </div>
    </div>
</section>





