<footer class="bg-brown footer">
    <div class="container p-3">
        <div class="row p-3">
            <div class="col-lg-2 sm-1 p-3">
                <h5>EXPLORE</h5>
                <p><a href="/mealkits/on-the-menu">On the menu</a></p>
                <p><a href="/log-in">Log in</a></p>
                <p><a href="/sign-up">Sign up</a></p>
            </div>
            <div class="col-lg-2 sm-1 p-3">
                <h5>FOLLOW US</h5>
                <a href="https://www.facebook.com" target="_blank"><img src="/images/fb.png" alt="Facebook" width="30" /></a>&nbsp;&nbsp;
                <a href="https://www.instagram.com" target="_blank"><img src="/images/ig.png" alt="Instagram" width="30" /></a>
            </div>
            <div class="col-lg-2 sm-1 p-3">
                <h5>ATTRIBUTION</h5>
                <a href="#" data-bs-toggle="modal" data-bs-target="#attribution">Image sources</a>
            </div>
            <div class="col-lg-6 sm-9 p-3">
                <p>By submitting this assignment I declare that this assignment is my own work in accordance with the Seneca Academic Policy. No part of this assignment has been copied manually or electronically from any other source (including web sites) or distributed to other students.</p>
                <p>© Yi Man Leung, yleung20@myseneca.ca, WEB322 Winter 2024</p>
            </div>
        </div>
    </div>

    <!-- Pop-up for image sources -->
    <div class="modal fade" id="attribution" tabindex="-1" aria-labelledby="attributionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="attributionLabel">Image sources</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-link">
            <ul>
                <li><a href="https://www.pexels.com/photo/healthy-lunchbox-with-fruits-and-vege-5852329/" target="_blank">Antoni Shkraba</a></li>
                <li><a href="https://www.pexels.com/photo/photograph-of-a-mother-and-her-daughter-eating-donuts-6202021/" target="_blank">Elina Fairytale</a></li>
                <li>Ella Olsson: <a href="https://www.pexels.com/photo/flat-lay-photography-of-vegetable-salad-on-plate-1640777/" target="_blank">photo 1</a>, 
                    <a href="https://www.pexels.com/photo/flat-lay-photography-of-two-tray-of-foods-1640769/" target="_blank">photo 2</a>, 
                    <a href="https://www.pexels.com/photo/flat-lay-photography-of-vegetable-salad-on-plate-1640777/" target="_blank">photo 3</a></li>
                <li><a href="https://www.pexels.com/photo/food-photography-of-pasta-1438672/" target="_blank">Engin Akyurt</a></li>
                <li>Flaticon: <a href="https://www.flaticon.com/free-icons/nutrition" target="_blank">FBJan</a>,
                    <a href="https://www.flaticon.com/free-icons/clock" target="_blank">Freepik - clock</a>, 
                    <a href="https://www.flaticon.com/free-icons/instagram-logo" target="_blank">Freepik - IG</a>,
                    <a href="https://www.flaticon.com/free-icons/access-denied" target="_blank">IconBaandar</a>, 
                    <a href="https://www.flaticon.com/free-icons/canteen" target="_blank">murmur</a>,
                    <a href="https://www.flaticon.com/free-icons/family" target="_blank">noomtah</a>,
                    <a href="https://www.flaticon.com/free-icons/done" target="_blank">Octopocto</a>,
                    <a href="https://www.flaticon.com/free-icons/facebook" target="_blank">Pixel perfect</a>
                </li>
                <li><a href="https://www.pexels.com/photo/cooked-seafoods-699953/" target="_blank">JANG ‘S </a></li>
                <li><a href="https://www.pexels.com/photo/a-dish-with-brown-sauce-and-rice-in-a-lunch-box-14147751/" target="_blank">Lisa Fotios</a></li>
                <li>RDNE Stock project: <a href="https://www.pexels.com/photo/a-boy-in-a-chef-hat-eating-bread-5593612/" target="_blank">photo 1</a>, 
                    <a href="https://www.pexels.com/photo/a-couple-looking-at-a-baby-sitting-on-a-kitchen-counter-5593344/" target="_blank">photo 2</a></li>
                <li><a href="https://www.pexels.com/photo/fries-and-burger-on-plate-70497/" target="_blank">Robin Stickel</a></li>
                <li><a href="https://www.pexels.com/photo/a-dish-with-brown-sauce-and-rice-in-a-lunch-box-14147751/" target="_blank">Towfiqu barbhuiya</a></li>   
            </ul>
            </div>
        </div>
        </div>
    </div>
</footer>
  