<div class="container">
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Little Foodie" width="250" style="margin-right:80px" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link link-success" href="/mealkits/on-the-menu">On The Menu</a>
              </li>
              <% if (typeof user === "undefined") { %>
                <li class="nav-item">
                  <a class="nav-link link-success" href="/log-in">Log in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-success" href="/sign-up">Sign up</a>
                </li>
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link link-success" href="/logout">Log out</a>
                </li>
              <% } %>
            </ul>
            <% if (typeof user !== "undefined") { %>
              <% if (user.userType === "customer") { %>
                <p>👤 <strong>Hello, <a href="/cart/shopping-cart"><%= user.firstName %>!</a></strong></p>
              <% } else { %>
                <p>👤 <strong>Hello, <a href="/mealkits/list"><%= user.firstName %>!</a></strong></p>
              <% } %>
            <% } %>
          </div>
        </div>
      </nav>
</div>