@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, html {
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    height: 100%;
}
p {
    font-size: 1.1em;
    line-height: 1.6;
}
.menu {
    overflow: hidden;
    background-color: #333;
} 
.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.1em;
} 
.menu a:hover {
    background-color: #ddd;
    color: black;
} 
.menu a.active {
    background-color: #04AA6D;
    color: white;
} 
.menu .icon {
    display: none;
} 
@media screen and (max-width: 600px) {
    .menu a:not(:first-child) {display: none;}
    .menu a.icon {
      float: right;
      display: block;
    }
    .border {
        line-height: 40px;
    }
} 
@media screen and (max-width: 600px) {
    .menu.responsive {position: relative;}
    .menu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
@media screen and (max-width: 1000px) {
    .content-container img {
        width: 100%;
        margin: 0;
    }
}
.home-container {
    display: block;
    height: 100%;
    margin: 0;
}
.home-bg {
    position: relative;
    background-image: url("/images/toronto-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.center {
    position:absolute;
    top:30%;
    left:0;
    width: 100%;
    text-align: center;
}
.profile-pic {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    box-shadow: 1px 1px 8px #333;
}
.profile-btn {
	background-color:#0d7377;
	border:1px solid #063739;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
    margin-top: 20px;
    margin-right: 10px;
	text-decoration:none;
	text-shadow:0px -1px 0px #063739;
}
.profile-btn:hover {
	background-color:#10a699;
}
.profile-btn:active {
	position:relative;
	top:1px;
  text-decoration: none;
}
.border {
    background-color: #333;
    color:#fff;
    opacity: 0.9;
}
.name {
    letter-spacing: 10px;
    padding: 18px;
}
.title {
    padding: 10px;
}
img {
    margin:20px;
}
.container {
    display: flex;
    justify-content: center; 
}
.content-container {
    text-align: center;
    max-width: 70%;
    margin-top: 40px;
    margin-bottom: 40px;     
}
.info-bg {
    background-color: #0d7377;
    color: #fff;
}
.table {
    text-align: left;
}
.table td, .table th {
    padding: 8px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-container > div {
    width: 450px;
    text-align: left;
}
.contact-img {
    width: 94%;
}
.edu-bg {
    background-image: url(/images/edu-bg.jpg);
    background-repeat: no-repeat;
}
.edu-bg h2 {
    color: #fff;
}
.edu-container {
    display: block;
    padding: 20px;
    background-color: #fff;
    margin: 30px;
}
.edu-container p {
    font-size: 1.1em;
    margin: auto;
}
.edu-container h3 {
    font-size: 1.3em;
}
.contact-bg {
    background-color: #eee;
}
button {
    background-color:#0d7377;
	border:1px solid #063739;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 10px;
}
textarea {
    width: 100%;
    min-height: 6em;
    border: 1px solid #aeaeae;
}
select {
    background-color: #fff;
    border: 1px solid #aeaeae;
}
.postal-code {
    width: 50%;
    padding: 0.3em;
}
input[type=text], input[type=email] {
    width: 100%;
    border: 1px solid #aeaeae;
    padding: 0.3em;
    margin-bottom: 10px;
}
.radio-div {
    margin-top:1em;
    margin-bottom: 1em;
}
.city {
    width: 50%;
    padding: 0.3em;
}