<section id="load-data-mealkits" class="bg-gray">
    <div class="container pb-5 pt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="pt-4" style="text-align: center;">Load meal kits data</h2>
                <div class="row">
                    <div class="mb-3 col-md">
                        <p style="text-align: center;"><img src="/images/check-mark.png" alt="Check icon" width="300"></p>
                        <p style="text-align: center; font-size: 1.3em;"><%= message %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
